@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap');

/* font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* <!-- ---------------------------------Header Section START-------------------------------- --> */
.Header-Section{
    position: fixed;
    width: 100%;
}
.Header-logo a img{
    width: 100%;
}
.Header-Section .container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.menu-icon{
    display: none;
}
.menu-icon a i{
    font-size: 20px;
    color: #fff;
}
.header-menu .menu{
    font-family: 'Raleway', sans-serif;
    display: flex;
}
.header-menu .menu li a{
    font-size: 14px;
    font-weight: 700;
    padding: 14px 30px;
    text-transform: uppercase;
    color: #fff;
}
.header-menu .menu li:last-child a{
    padding-right: 0;
}

/* * <!-- ---------------------------------Header Section END-------------------------------- --> */ 

/* <!-- ---------------------------------Bannar Section START-------------------------------- --> */
.bannar-section{
    background-size: cover ;
    background-repeat: no-repeat;
    padding-top: 202px;
    padding-bottom: 154px;
    background-image: url(./Bannar.png);
}
.bannar-section .container h1{
    font-size: 65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    line-height: 68px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 100px;
}
.bannar-section .container p{
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 80px;
    padding: 0 120px;
}
.bannar-section .container a{
    color: #fff;
    background-color: #E84545;
    padding: 20px 50px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/* <!-- ---------------------------------Bannar Section END-------------------------------- --> */ 

/* <!-- ---------------------------------sarvice Section START-------------------------------- -->  */
.searvice-section{
    padding: 120px 0;
}
.searvice-section .container{
   display: flex;
   flex-wrap: wrap;
   row-gap: 78px;
   column-gap: 5%;
}
.searvice-section .container .searvice-manu{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searvice-section .container .searvice-manu p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0 26px;
}

.searvice-section .container .searvice-manu h3{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 36px;
    margin-bottom: 26px;
}/* <!-- ---------------------------------sarvice Section END-------------------------------- -->  */


/* <!-- ------------------------Gallery-Section START--------------------------- --> */
.Gallery-Section{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1px;
    column-gap: 1px;
 }
 .Gallery-Section .Gallery-item{
    max-width: calc(25% - 1px);
    max-height: 330px;
    cursor: pointer;
    position: relative;
 }
 .Gallery-Section .Gallery-item img{
    width: 100%;
    height: 100%;
 }
 .Gallery-Section .Gallery-item .hovarlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
   
 }
 .Gallery-Section .Gallery-item:hover .hovarlay{
    background-color: rgba(218, 71, 71,0.8);
 }
 .Gallery-Section .Gallery-item .content{
    position: absolute;
    left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     visibility: hidden;
  
 }
 .Gallery-item .content h2{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFF;
 }
 .Gallery-item .content p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
 }
 .Gallery-Section .Gallery-item:hover .content{
    visibility: visible;
 }
/* <!-- ------------------------Gallery-Section END--------------------------- --> */

/* <!-- ------------------------Team-Section start--------------------------- --> */

.Team-Section{
    padding: 100px 0;
}
.Team-Section .container{
    display: flex;
    justify-content: space-between;
}
.Team-Section .container .Team-member{
    max-width: calc(25% - 22.5px);
}
.Team-member h3{
    font-family: 'Raleway', sans-serif; 
    font-size: 22px;
    font-weight: 400;
    color: #2d3033;
    margin-top: 30px;
    margin-bottom: 16px;
}
.Team-member p:first-of-type{
    color: #e84545;
    font-family: 'Raleway', sans-serif; 
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.Team-member p:last-of-type{
    color: #6c7279;
    font-family: 'Raleway', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}
.team-member-link{
    display: flex;
    column-gap: 4px;
}
.team-member-link a{
 border: 1px solid #E8ECEE;
 height: 40px;
 width: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
}
.team-member-link a i{
    color: #c6cacc;
    transition: 0.4s;
}
.team-member-link a:hover{
border: 1px solid cyan;
}
.team-member-link a:hover i{
    color: cyan;
}
/* <!-- ------------------------Team-Section END--------------------------- --> */

/* <!-- ------------------------Testmonial-Section start--------------------------- --> */
.Testmonial-Section{
    background-color: #53354a;
}
.Testmonial-content{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.Testmonial-content .Bd-item{
    max-width: 50%;
}
.Testmonial-image img{
    width: 100%;
    height: 100%;
}
.Testmonial-text{
    padding-left: 86px;
    padding-top: 115px;
    padding-right: 280px;
}
.Testmonial-text p:first-of-type{
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    color: #FFF; 
}
.Testmonial-text p:last-of-type{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 700;
    color: #FFF; 
    margin-top: 30px;
    text-transform: uppercase;
}
.indicator{
    position: absolute;
    top: 86%;
    left: 70%;
    transform: translate(-86%, -70%);
    display: flex;
    column-gap: 8px;
}
.indicator-item{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #897483;
}
.indicator-item:nth-child(2){
    background-color: #FFF;
}
/* <!-- ------------------------Testmonial-Section END--------------------------- --> */

/* -----------download Section start------------- */
.download-section .container{
    text-align: center;

}

.download-section .container h3{
    margin-top: 100px;
    margin-bottom: 22px;
    font-family: 'Raleway', sans-serif;
   font-size: 28px;
   font-weight: 400;
}


.download-section .container p{
    font-family: 'Raleway', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 40px;

}
.download-section .container a{
    border: 1px solid #E84545 ;
    padding: 20px 84px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background-color: #E84545 ;
    border-radius: 4px;
    margin-bottom: 100px;

}

/* -----------download Section end------------- */


/* -------------Share-Section start--------- */

.share-section{
    background-color: #3A3E64;
}
.share-section .container{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
   padding-bottom: 102px;
   text-align: center;
}
.share-section .container .location{
    width: 30%;
}


.share-section .container .share{
    width: 30%;
}

.share-section .container .about{
    width: 30%;
}
.share-section .container  h2{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 22px;
   
}
.share-section .container p{
  
    font-size: 14px;
    font-weight: 400;
    color: #AFB0BC;
    
   
}
.share-section .container .location p{
     padding: 0 100px;
    
}
.share-section .container .bottom  a:hover{
    color: #E84545;
    border: 4px solid #E84545;
    transition: 0.4s all ease-in-out;
    background-color: #fff;
}
.share-section .container .bottom a{
    padding: 9px 14px;
    border: 4px solid #fff;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    
}

/* -------------Share-Section end --------- */

/* ---------------- lasrt-page start--------------- */
.last-page{
    background-color: #313454;
}
.last-page .container{
   padding-top: 30px;
   padding-bottom: 32px;
   text-align: center;
   padding-left: 100px;
   padding-right: 100px;
}
.last-page .container p{
   font-size: 14px;
   font-family: 'Open Sans', sans-serif;
   color: #808080;
  
}
.last-page .container .fa-solid{
    font-size: 24px;
    color: red;
}
.last-page .container .color a{
    font-size: 14px;
    color: #fff;
}

/* ---------------- lasrt-page end--------------- */